[user]
    email = chopfitzroy@gmail.com
    name = Otis Wright
[help]
    autocorrect = 10
[push]
    default = upstream
[core]
	fileMode = false
    packedGitLimit = 512m 
    packedGitWindowSize = 512m 
	editor = /usr/local/bin/code -w
[pack] 
    windowMemory = 2047m
    packSizeLimit = 2047m 
    deltaCacheSize = 2047m 
[branch]
    autosetuprebase = never
